body {
  display: flex;
  justify-content: center;
  margin: 0;
  background-color: #ffe8d2;
  font-family: "Montserrat", sans-serif;
}

.App {
  min-height: 90vh;
  width: 390px;
  margin: 10px;
  border: 5px solid #ff9582;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

h1 {
  color: #ff9582;
}
.FormCont {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.Input {
  display: flex;
  
}

input {
  flex: 1;
  border: 2px solid #ff9582;
  border-radius: 5px;
  padding: 5px;
}


.Add {
  border: 2px solid rgb(50, 206, 50);
  border-radius: 5px;
  color: rgb(50, 206, 50);
  
}


.ImgTwo {
  margin-top: auto;
}

.crossed {
  text-decoration: line-through 2px rgb(50, 206, 50);
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: last baseline;
  background-color: #fdf8f3;
  margin-top: 3px;
  padding: 3px;
  border-radius: 5px;
}

.DeleteBTN {
  border: none;
  background-color: transparent;
}

@media all and (max-width: 375px) {
  .App {
    width: 355px;
  }
}

@media all and (max-width: 280px) {
  .App {
    width: 277px;
  }
}




